<% 
  # Check if WEBSITE_LIVE is set to a truthy value (not just present)
  website_live = ENV['WEBSITE_LIVE'].to_s.downcase == 'true'
  site_accessible = website_live || session[:preview_access]
%>
<div id="react-root" data-website-live="<%= site_accessible ? 'true' : 'false' %>"></div>
